@font-face {
    font-family: "raleway";
    src:url(Raleway/Raleway-VariableFont_wght.ttf)
}

@font-face {
    font-family: "raleway light";
    src: url(Raleway/static/Raleway-Light.ttf);
}

body{
    font-family: "raleway light";
    margin: 0%;
}

#bloc_page{
    margin: 0 auto;
    max-width: 1440px;
}

/*header*/
header img{
    width: 100px;
    align-self: center;
}

header{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 95%;
    height: 100px;
    margin: auto;
}

nav{
display: grid;
grid-template-columns: 4fr 1fr 1fr 1fr;
margin: 0px;
height: 100%;
width: 100%;
align-items: center;
justify-items: center;
}

#logo_reservia{
    display: flex;
    justify-self: flex-start;
}

.lien_nav{
    text-decoration: none;
    color: inherit;
    display: flex;
}

.bouton_nav{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.bouton_nav:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    font-weight: bold;
}

/*recherche*/
h1{
    margin-bottom: 20px;
}

#recherche{
    width: 95%;
    margin: auto;
    max-width: 1440px;
}

#inscription{
    color: #0065FC;
    font-weight: bold;
}
 div.bouton_recherche{
     display: inline-flex;
     margin-top: 20px;
     border: 1px solid #f2f2f2;
     border-radius: 15px;
 }

 a.bouton_rechercher{
    align-items: center;
    display: flex;
 }

 .ici{
     background-color: #f2f2f2;
     font-size: 1.5em;
     padding: 15px;
     text-align: center;
     border-radius: 15px 0px 0px 15px;
 }

 #rechercher{
     font-size: 1.1em;
     padding: 13px;
     font-weight: bold;
     border: none;
 }

 a.bouton_rechercher{
     background-color: #0065FC;
     color: white;
     border: none;
     padding: 10px;
     font-size: 1.1em;
     border-radius: 0px 15px 15px 0px;
 }

/*filtres*/
#filtres{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding: 0;
    list-style-type: none;
    margin: 10px 0;
    font-size: 18px;
    flex-wrap: wrap;
}

#box_filtres{
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-flow: row wrap;
}

.logos{
    border: 3px solid #f2f2f2;
    width: 220px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 10px 10px 0 0;
}

li:hover .logofiltre{
    cursor: pointer;
    background-color: white;
}

.logos:hover{
    background-color: #DEEBFF;
}

.logofiltre{
    color: #0065FC;
    font-size: 1.4em;
    background: #DEEBFF;
    border-radius: 50px;
    padding: 16px;
    width: 30px;
    text-align: center;
}

.nom_filtre{
    font-size: 16px;
    margin: 0 10px 0 0;
    padding-left: 10px;
    padding-top: 20px;
}


#titre_filtres{
    margin: 30px 20px;
}

/*bouton info*/
#info{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.info{
    border: 2px solid #f2f2f2;
    padding: 6px;
    border-radius: 50px;
    width: 18px;
    text-align: center;
    margin-right: 10px;
    color: #0065FC;
    margin-left: 16px;
}

/*hébergements*/
#hotels{
    display: flex;
    margin-bottom: 2.8vw;
}

*{
    max-width: 2400px;
}

#Hebergements{
    display: flex;
    flex: 60%;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 1.8vw 1vw 1.1vw 1.7vw;
}

div{
    display: block;
}

h2{
    font-size: 1.3rem;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#photosMarseille{
    display: flex;
    flex-wrap: wrap;
}

.vignette_photo{
    flex: 1 30%;
    background-color: white;
    box-shadow: 5px 5px 5px #d1d1d1;
    border-radius: 20px;
    margin: 10px 15px 10px 0px;
    padding: 5px;
}

a{
    text-decoration: none;
    color: black;
}

figure{
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 40px;
margin-inline-end: 40px;
}

.vignette_photo figcaption{
    margin-left: 15px;
}

figcaption{
    display: block;
}

.bloctexte{
    margin-bottom: 1vh;
}

h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.bloctexte p{
    margin-top: 0.9vh;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} 

.etoiles{
    display: flex;
}

.fa, .fas{
    font-weight: 900;
}

.fa, .far, .fas{
    font-family: "Font Awesome 5 Free";
}

.starbleue{
    color: #0065FC;
}

.stargrise{
    color: #DEEBFF;
}


/*hébergements populaires*/
#populaire{
    flex: 30%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 1.8vw 1vw 1.1vw 1.7vw;
}
 
aside{
    display: block;
}

#titre_populaire{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    font-size: 1.3em;
}

.fa, .far, .fad, .fal, .far, .fas{
-webkit-font-smoothing: antialiased;
display: inline-block;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1;
}

.fa-chart-line{
    font-size: 1.1rem;
    margin-right: 1.3vw;
}

#populaire figure{
    display: flex;
    height: 160px;
    background-color: white;
    box-shadow: 5px 5px 5px #d1d1d1;
    border-radius: 20px;
    padding: 5px;
}

.vignette_photo figcaption{
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2vw;
}

.bloctexte_populaire{
    margin-bottom: 1vh;
}

#populaire p{
    margin-bottom: 35px;
}

.etoiles{
    display: flex;
}

#activites{
    margin-bottom: 4vw;
}

article{
    display: block;
}

#bloc_activites{
    display: flex;
    margin-top: 20px;
    height: 29vw;
}

#article1{
    display: flex;
    width: 50%;
}

.grandeImg{
    display: flex;
    flex: 25%;
    margin-right: 1.6vw;
}

.encartActivite{
    display: flex;
}

#photoActivite{
    display: flex;
    height: 29vw;
    margin-top: 20px;
}

#article1{
    display: flex;
    width: 50%;
}

.grandeImg{
    display: flex;
    flex: 25%;
    margin-right: 1.6vw;
}

#photoActivite figure{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px #d1d1d1;
}

#activites figure{
    width: auto;
}

#activites figcaption{
    margin-left: 0.7vw;
}

.petiteImg{
    display: flex;
    flex: 25%;
    flex-direction: column;
    justify-content: space-between;
}

#frioul{
    height: 100%;
}

#garde, #longchamp{
    height: 45%;
}


#article2{
    display: flex;
    width: 50%;
    margin-left: 1.6vw;
}
.grandeImg{
    display: flex;
    flex: 25%;
    margin-right: 1.6vw;
}


/*footer*/
footer{
    display: flex;
    background-color: #f2f2f2;
    margin-top: 20px;
    padding-left: 3.2vw;
}

#propos{
    flex: 1 30%;
}

h4{
    margin-top: 30px;
    margin-bottom: 0;
}

h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
}

a:-webkit-any-link{
    color: webkit link;
    cursor: pointer;
    text-decoration: underline;
}

#assistance{
    flex: 1 30%;
}

/************************** Media queries ********************/
@media screen and (min-width: 2100px) {
    .vignette_photo figcaption {
      display: block;
      padding: 0.3vw;
    }
  }
  @media screen and (max-width: 1400px) {
    #plus {
      padding-top: 2vh;
    }
    #article1,
    #article2 {
      flex-direction: column;
      width: 49%;
    }
    .grandeImg .encartActivite,
    .block1 {
      width: 100%;
    }
    .grandeImg {
      height: 49%;
      margin: 0 0 2.4vw 0;
    }
    .petiteImg {
      flex-direction: row;
      height: 49%;
    }
    #aPomegues,
    #aFrioul,
    #garde,
    #longchamp {
      height: 100%;
      width: 48%;
    }
    
    #activites img {
      height: 70%;
    }
    footer {
      margin-top: 6vw;
    }
  }
  @media screen and (max-width: 1024px) {
    #hotels {
      flex-direction: column-reverse;
    }
    .fondPopulaire {
      margin-bottom: 2.4vh;
    }
    #marseille {
      margin: 2vw 0 0 0;
    }
    #photoActivite {
      flex-direction: column;
      height: 100vw;
    }
    #article1,
    #article2 {
      height: 50%;
      width: 100%;
    }
    #article2 {
      margin: 3.5vw 0 0 0;
    }
  }
  @media screen and (max-width: 800px) {
    #body {
      width: 100%;
    }
    #logo_reservia,
    #h1,
    form,
    #box_filtres,
    .info {
      padding-left: 3vw;
    }
    nav {
      width: 100%;
      margin: 0;
    }
    nav ul {
      width: 100%;
      padding: 0;
    }
   
    #incription{
      position: absolute;
      top: 2.2vh;
      right: 5vw;
    }

    nav a:hover {
      border-top: none;
    }
    nav li {
      width: 100%;
      text-align: center;
      border-bottom: 3px solid #f2f2f2;
      padding-bottom: 2vh;
    }
    nav li:hover {
      border-bottom: 2px solid #0065fc;
    }
    #h1 {
      padding: 2vw 3vw 2vw 3vw;
    }
    #rechercher {
      display: none;
    }
    #ici {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      background-color: #0065fc;
      cursor: pointer;
      color: white;
      border-radius: 15px;
      border: 1px solid #f2f2f2;
      width: 40px;
    }
    .filtres {
      margin-left: 0px;
      margin-right: 4vw;
    }
    /***************** populaire ************************/
    #populaire {
      padding: 4vw;
      border-radius: 0;
    }
    #populaire figure {
      margin: 3.5vw 0 0.5vw 0;
    }
    /***************** marseille ************************/
    #marseille {
      background: none;
      padding: 4vw;
    }
    /****************** activite ************************/
    #activite {
      padding: 4vw;
    }
    #garde {
      margin: 0;
    }
    #activite figcaption {
      margin-top: 1vh;
      margin-left: 4vw;
    }
    /************************* footer ************************/
    footer {
      flex-direction: column;
      padding-left: 5.7vh;
    }
  }
  @media screen and (max-width: 640px) {
    /**************************** marseille ********************************/
    #photosMarseille {
      flex-direction: column;
    }
    .encartMarseille {
      margin-right: 0;
    }
    /***************************** activite *******************************/
    #photoActivite {
      flex-direction: column;
      height: auto;
    }
    .petiteImg {
      flex-direction: column;
    }
    .petiteImg,
    .grandeImg,
    #garde,
    #Pomegues {
      margin: 0;
    }
    .block1 {
      display: flex;
      flex-direction: column;
    }
    #article1 {
      flex-direction: column;
    }
    #article2 {
      flex-direction: column;
      margin: 0;
    }
    #activite img {
      height: 140px;
    }
    #activite a {
      width: 100%;
      margin-bottom: 2.4vh;
    }
    #activite figure {
      height: 180px;
    }
  
  